<div class="container">
  <form action="">
    <div class="row">
      <h2 style="text-align:center">Register (or) Login</h2>

      <div class="col">
        <input type="text" name="usernameR" placeholder="Username" [(ngModel)]="usernameR" required>
        <input type="email" name="emailR" placeholder="Email" [(ngModel)]="emailR" required>
        <input type="submit" value="Register" (click)="register()">
      </div>

      <div class="col">
        <input type="text" name="usernameL" placeholder="Username" [(ngModel)]="usernameL" required>
        <input type="email" name="emailL" placeholder="Email" [(ngModel)]="emailL" required>
        <input type="submit" value="Login" (click)="login()">
      </div>

    </div>
  </form>
</div>
